body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: lightgoldenrodyellow;
  font-family: sans-serif;
  font-size: 0.8em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
}

h1, h2 {
  text-decoration: underline;
}

img {
  margin: auto;
  display: block;
  width: 80%;
}

table {
  margin: auto;
  border-spacing: 0;
  border-collapse: separate;
}

th {
  background-color: peru;
  color: white;
  padding: 5px;
}

td, caption {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

table, td, th, caption {
  border-color: peru;
  border-style: solid;
  border-width: 1px;
}
