// This file contains custom (non hack.css) styles

.inner {
  position: relative;
}

.card {
  height: 100%;
}

.github-corner-project {
  opacity: 0.5;
}

ul.menu-item {
  margin: 0;
}

#about-me h2 {
  margin-bottom: 0;
}

.graphic-card, .graphic-card .inner {
  min-height: 250px;
}

.graphic-card .inner:hover {
  // opacity: 0.9;
  opacity: 1;
}

.graphic-card .inner {
  transition: all 1s;
  background-color: white;
  opacity: 0;
}

.t-hackcss {  // Main prefix to avoid collisions

  // navigation.html

  &-personal-photo {
    display: -webkit-inline-box;
    padding: 20px 20px 20px 0;
  }

  &-personal-photo img {
    width: 100%;
    border: solid 1px #ccc;
  }

  &-navigation {
    padding-right: $spacing-unit;
  }

  @at-root .hack &-navigation-heading {
    padding-top: 20px;
  }

  // footer.html

  @at-root body &-footer {
    padding-bottom: $spacing-unit;
  }

  &-social {
    display: inline-block;
  }

  &-social + &-social {
    padding-left: $spacing-unit;
  }

  &-sm-reversed-grid.grid {
    @include media-query($on-palm) {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;

    > svg {
      width: $icon-size;
    }
  }

  // examples.html

  &-media {
    margin-bottom: 1.25rem;
  }

  &-media-shift {
    max-width: $image-size;
  }

  &-media-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &-cards {
    flex-wrap: wrap;
    @include media-query($on-palm) {
      flex-wrap: nowrap;
    }
  }

  &-cards-cell {
    padding-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }

  &-cards-text {
    margin: 0
  }

  &-cards-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }

  &-cards-link {
    text-align: center;
  }
}
